@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kanit:ital,wght@1,200&family=Montserrat+Alternates:wght@500&family=Unbounded&display=swap');
body{
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.head{
	background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3  51%, #A770EF  100%);
    padding: 15px 45px;
    
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 19px;
  	display: inline-block;
  	text-align: right;
  	margin-right: 30px;
	font-family: 'Comfortaa', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Unbounded', cursive;
	font-weight: bold;

}
.button-cont{
	text-align: center;
}
.button-cont button{
	display: inline-block;

}

.head:hover{
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    font-size: 20.5px;
}
.text{
	position: absolute;
	right: 3.9%;
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 50%, #8271b5 100%);
	border-radius: 25% 10%;
	height: 39.4%;
	top: 12.18%;
	text-align: center;
	width: 42%;
	font-size: 1.46vw;
	color: #000;
	font-family: 'Comfortaa', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Unbounded', cursive;
}
.number1{
	border-top: 2px solid #B854A1;
	width: 100%;

}
.img1{
	position: absolute;
	top: 13.48%;
	left: 10.42%;
}
.text2{
	position: absolute;
	left: 3.90625%;           /* 75px ; 150px; 250px */
	bottom: 13.89%;
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 50%, #8271b5 100%);
	border-radius: 10% 25%;
	height: 24.15%;
	text-align: center;
	width: 32%;    /* 30% */
	font-size: 1.35vw;
	color: #000;
	font-family: 'Comfortaa', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Unbounded', cursive;
}
.img2{
	position: absolute;
	right: 11.72%;
	bottom: 6.48%;
}
.h1{
	position: absolute;
	bottom: -11.11%; /* (100 / 85) */
	text-align: center;
	width: 98.95%; /* (1920 / 1920) * 100 */
	font-family: 'Comfortaa', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Unbounded', cursive;
	color: #000;
}
.work1 {
	position: absolute;
	padding: 0 20%;
	bottom: -30%;
	width: 100%;
}
.work2{
	position: absolute;
	padding: 10px 8%;
	bottom: -50%;
	width: 120%;
}
.work3{
	position: absolute;
	padding: 30px 30%;
	bottom: -70%;
	width: 100%;
}

.text3{
	position: absolute;
	bottom: calc(-83vh + 85px);
	text-align: center;
	width: 98%;
	font-family: 'Comfortaa', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Unbounded', cursive;
	color: #000;
}
.contact_steam{
	position: absolute;
	bottom: -83%;
	margin: 0px;
	left: 47.91%;
}
.contact_telegram{
	position: absolute;
	bottom: -83%;
	margin: 0px;
	left: 44.7%;
}
.contact_discord{
	position: absolute;
	bottom: -83%;
	margin: 0px;
	left: 51%;
}
.arrow{
	position: fixed;
	bottom: 5%;
	right: 3%;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
	.arrow{
		bottom: 10%;
		right: 5%;
	}
}
 

         